/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background-color: #1e252d;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body {
		color: #212931;
	}

	body, input, select, textarea {
			font-family: "Merriweather", Georgia, serif;
			font-weight: 300;
			font-size: 1rem;
			line-height: 2.375;
		}

	a {
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		border-bottom: dotted 1px;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border-bottom: 0;
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 4rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.3;
		margin: 0 0 1.5rem 0;
	}

	h3 {
		font-size: 1.25rem;
		margin: 0 0 1.5rem 0;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.8rem;
	}

.hideme {
    display:none
}
h1 {
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	font-size: 16px;
	font-weight: bold;
	text-overflow: ellipsis;
	border: 1px solid #bbb;
	background-image: linear-gradient(#ddd,#bbb);
	padding: 10px;
}

label {
	display: block;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		font-size: 0.8rem;
		text-transform: uppercase;
		margin: 0 0 0.75rem 0;
}
	@media screen and (max-width: 980px) {

		label {
			font-size: 0.9rem;
		}

	}

form {
	margin: 8px;
}

input[type=text], input[type=button],
input[type=password], select {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	margin-top: .5em;
	margin-bottom: .2em;
	width: 94%;
	border: solid 2px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
}

input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 3rem;
}

/*
input[type=text], 
input[type=button],
input[type=password] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: transparent;
	border: solid 2px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
}
*/

input[type="date"] {
	  height: 3rem;
	  margin: 0 auto;
	  font-family: "Merriweather", Helvetica, sans-serif;
	  font-size: 16px;
	  text-transform: uppercase;
	  background-color: rgb(255, 255, 255);
	  outline: 1px black;
	  border: 2px solid #eeeeee;
	  border-radius: 1px;
	  padding: 0 3px;
	  color: #212931;
    }
	  input[type="date"]::-webkit-clear-button {
	    font-size: 18px;
	    height: 30px;
	    position: relative;
	    right: 5px;
	    margin-right: 4px;
	  }
        
	  input[type=date]::-webkit-inner-spin-button,
      input[type=date]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
	  
      input[type=date]::-webkit-calendar-picker-indicator {
	    font-size: 18px;
      }
	        
      input[type=date]::hover {
	      background-color: lighten(#2f2f2f,40%);
	      color: darken(#fff, 10%);
	      cursor: pointer;
	    }
	    input[type=date]::active {
	      color: blue;
	    }

div {
	margin-bottom: .5em;
}