<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
        <%= title %>
    </title>
    <% include snips/reg-header %>
    
    
</head>

<body class="is-loading" onload="initialize()">
<div class="wrapper" style="background-image: url(../images/EagleNewsPh.jpg); background-repeat: no-repeat; background-size:cover;">
    <% include snips/log-nav %>
    <div class="row justify-content-center margin-top">
        <div class="container justify-content-center m-5 pb-5">
            <div class="card">
                <div class="card-header">
                    <h1><%= title %></h1>
                </div>
                <div class="card-body">
                    <form name="host-registration" action="" method="post">
                          <div class="form-group row">
                              <label class="col-md-4 text-md-right">Tell me the name your place</label>
                              <input class="form-control" style="width:30%" type="text"  name="pname" minlength="1" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-md-right">So is it a house or a room?</label>
                            <div class="col-md-6">
                                <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" name="yesCheck"> House &nbsp;&nbsp;
                                <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck" name="noCheck"> Room
                            </div>
                        </div>
                        <div class="form-group row" id="ifYes" style="display:none">
                            <label class="col-md-4 col-form-label text-md-right">Number of Rooms</label>
                            <select id="numrooms1" name="numrooms1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Number of beds</label>
                            <select id="numbeds1" name="numbeds1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Number of comfort rooms</label>
                            <select id="numcr1" name="numcr1">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                       
                 
                        <hr>
                        <h3>Specify the location by dragging the marker</h3>
                        <div id="map_canvas" style="width:1000px;height:500px; margin: 0 auto;"></div>
                        <input type="text"  id="lat" name="lat">
                        <input type="text"  id="lng" name="lng">
                        
                        <script>
                            var kk;
                           function GetAddress() {
                            var lat = parseFloat(document.getElementById("lat").value);
                            var lng = parseFloat(document.getElementById("lng").value);
                            var latlng = new google.maps.LatLng(lat, lng);
                            var geocoder = geocoder = new google.maps.Geocoder();
                            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    if (results[1]) {
                                        //alert("Location: " + results[0].formatted_address);
                                        kk=results[0].formatted_address;
                                        document.getElementById('answer').innerHTML = kk;
                                       
                                        
                                       
                                    }
                                }
                            });
                        }
                            </script>
                        
    
                        <input type="button" value="Get Address" onclick="GetAddress()" />
                        <textarea id="answer" class="form-control" name="answer1" rows="1"></textarea>
          
                        <hr>
                        <div class="form-group row">
                          <h3>Upload Images</h3>
                            
                        </div>
                        <div class="form-group row">
                            Tell us about your place!
                            <textarea class="form-control" name="description" rows="5"></textarea>
                        </div> 
                        <hr>
                        <div class="form-group row">
                            Tell us your house rules
                            <textarea class="form-control" name="hrules" rows="5"></textarea>
                        </div> 
                        <hr>
                          <div class="form-group row">
                            Tell us your house amenities
                            <textarea class="form-control" name="hame" rows="5"></textarea>
                        </div> 
                        <hr>
                           <div class="form-group row">
                            Tell us your cancellation policies
                            <textarea class="form-control" name="hpop" rows="5"></textarea>
                        </div> 
                        <hr>
                        <div class="form-group row">
                            <label class="col-md-4 text-md-right">So is it per night or per person?</label>
                            <div class="col-md-6">
                                <input type="radio" name="yesno1" id="pperson">  Per person
                                    &nbsp;&nbsp;
                                <input type="radio" name="yesno1" id="ppnight"> Per night
                                <input class="form-control" style="width:50%" type="text"  name="presyo" minlength="1" placeholder="enter rate here" required>
                            </div>    
                        </div>
                    
                        
                        
                        
                        
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-7 col-form-label text-md-right form-check-label">
                                <label for="agree">
                                    <input type="checkbox" value="agree" class="form-check-input" required />
                                    I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-7 col-form-label text-md-right form-check-label">
                                <input type="submit" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>