<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
      Abang - Provider
    </title>
    <% include snips/reg-header %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  mb-4">

      <a class="navbar-brand " href="/"><img src="../images/logo%20-%20Copy.png" height="35" class="d-inline-block align-top" alt="ABANG"/></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <div class="mr-auto">
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/signout" style="color: white">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row justify-content-center m-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><h1>Welcome!</h1></div>
          <div class="card-body text-center">
            <a href="/acctdets" class="btn btn-lg btn-info btn-block">View Account Details</a><br>
            <a href="/listings" class="btn btn-lg btn-info btn-block">View Listings</a><br>
            <a href="/reservations" class="btn btn-lg btn-info btn-block">View Reservations</a><br>
            <a href="/transactions" class="btn btn-lg btn-info btn-block">View Transactions</a><br>
            <br>
          </div>
        </div>
      </div>

    </div>
  </body>

</html>