<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
      Abang - Provider
    </title>
    <% include snips/reg-header %>
  </head>

  <body class="is-loading">
    <div class="wrapper">
      <% include snips/nav %>
      <div class="row justify-content-center margin-top">
        <div class="container text-center m-5 pb-5">            
          <h1 class="display-1">Oops! Something went wrong.</h1>
          <p>Either your login information is wrong (<a href="http://www.abang.com/login.php">Go Back</a>) or you are not registered (you can do it <a href="/register">here</a>)!</p>
        </div>
      </div>

    </div>
  </body>

</html>