<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
      Abang - Provider
    </title>
    <% include snips/reg-header %>
  </head>

  <body class="is-loading">
    <div class="wrapper">
      <% include snips/log-nav %>
      <div class="row justify-content-center margin-top">
        <div class="container text-center m-5 pb-5">
          <h1 class="display-1">Reservation Accepted!</h1>
          <p><a href="/">Go back</a></p>
        </div>
      </div>
    </div>
  </body>

</html>