<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
      Abang - Provider
    </title>
    <% include snips/reg-header %>
  </head>

  <body class="is-loading">
    <div class="wrapper">
      <% include snips/log-nav %>
      <div class="row justify-content-center margin-top">
        <div class="container justify-content-center m-5 pb-5">
          <h1>Thanks for registering!</h1>
          <p>Your account is being processed! We will be sending details to your email (<%= email %>) when it is ready!</p>
        </div>
      </div>
    </div>
  </body>

</html>