
nav div img {
	max-height: 1em;
}

/* Main */

#main.container .row {
	clear: both;
	padding: 0px;
	margin: 0px;
}

#main.container .row .mainbox {
	display: block;
	float: left;
	margin-top: 1% 5% 1% 1.6%;
	border: 2px solid white;
	min-height:20em;
}

#map {
	position: fixed;
	min-height: 85%;
	float: right;
	right: 2%;
	top: 10.5%;
}

.card-header > h1 {
    font-size: 18;
}