body {
    background-color:  #e6ffff !important;
}
nav div img {
	max-height: 1em;
}

/* Main */

#main.container .row {
	clear: both;
	padding: 0px;
	margin: 0px;
}

#main.container .row .mainbox {
	display: block;
	float: left;
	margin-top: 1% 5% 1% 1.6%;
	border: 2px solid white;
	min-height:20em;
    background-color: #00ced1;
}

#map {
	position: fixed;
	min-height: 85%;
	float: right;
	right: 2%;
	top: 10.5%;
}

.card-header > h1 {
    
}
ul.navbar-nav li.nav-item a.nav-link {
    color: white !important;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #00ced1 !important;
}

footer.bg-dark > p#copyright {
    color: lightcyan;
    text-align: center !important;
}

.card-header {
background-color: #004d4d !important;
    color: aliceblue;
}
