<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
      Abang - Provider
    </title>
    <% include snips/reg-header %>
  </head>

  <body>
    <% include snips/log-nav %>
    <div class="container">
      <div class="row profile">
        <!-- SIDE PROFILE -->
        <div class="col-md-8">
          <div class="profile-content">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img src="./images/baguio-city.jpg" class="mx-auto img-fluid img-circle d-block" alt="display-photo">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="gallery-block"><div class="heading"><h2 class="text-center">Transient Name</h2></div></div>

              <table class="table table-striped">
                <tr>
                  <td style="width:25%" class="font-weight-bold ">Description</td>
                  <td>Description here..</td>
                  <td style="width:5%"><a href="#">Edit</a></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Address</td>
                  <td>Description here..</td>
                  <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Rules</td>
                  <td>Description here..</td>
                  <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Amenties</td>
                  <td>Description here..</td>
                  <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Cancellations</td>
                  <td>Description here..</td>
                  <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Price</td>
                  <td>Description here..</td>
                  <td><a href="#">Edit</a></td>
                </tr>
                <tbody>

                </tbody>
              </table>           

            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS
-->
          </div>
        </div>
        <!-- END SIDE PROFILE -->
        <div class="col-md-4">
          <div class="profile-content">
            <div class="bd-example bd-example-tabs">
              <p class="profile-usertitle-name">Room Status</p>
              <table class="table table-striped">
                <thead>
                  <th>Room Number</th>
                  <th>Status</th>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>

</html>