<!DOCTYPE html>
<html>

<head>
<title>temp landing page</title>
</head>

<body>

<div>
<h3>easy access</h3>
    <p>temp landing page since there's no connection to php side yet</p>
<ul>
    <li><a href="/register">registration</a></li>
    <li><a href="/listings">listings</a></li>
    <li><a href="/addlist">add a listing</a></li>
    <li><a href="/transactions">transactions</a></li>
</ul>
</div>

<div>
<h3>sample login</h3>
    <p>imagine this is index.php</p>
    <form action="/providerlogin" method="post">
        <label>email: </label>
        <input value="user2@abang.com" type="email" name="email_add" /><br />
        <label>password: </label>
        <input value="12345678" type="password" name="password" /><br />
        <input type="submit" value="submit">
    </form>
</div>

</body>

</html>