<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Service Provide Registration</title>

    <link rel="stylesheet" href="./css/validation.css" />
    <script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./js/livevalidation_standalone.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">


    </script>
    <link rel="stylesheet" href="./css/jquery.mobile-1.3.2.min.css" />
    <!--link rel="stylesheet" href="./css/styletemp.css" /-->
</head>

<body class="is-loading">
    <div class="wrapper" style="background-image: url(images/EagleNewsPh.jpg); background-repeat: no-repeat; background-size:cover;">
        <% include snips/nav %>

        <div class="row justify-content-center margin-top">
            <div class="container justify-content-center m-5 pb-5">
                <div class="card">
                    <div class="card-header">
                        <h1>Service Provider Registration</h1>
                    </div>
                    <div class="card-body">
                        <form name="host-registration" action="" method="post">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right" for="nick-input">First Name</label>
                                <div class="col-md-6">
                                    <input style="width: 100%;" class="LV_valid_field" type="text" placeholder="First Name" id="nick-input" name="fname" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <input style="width: 100%;" type="text" name="l_name" placeholder="Last Name" id="surname-input" name="lname" class="LV_valid_field" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-md-right">Gender</label>
                                <div class="col-md-6">
                                    <input type="radio" name="gender" value="Male"/> Male &nbsp;&nbsp;
                                    <input type="radio" name="gender" value="Female"/> Female
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Birthdate</label>
                                <div class="col-md-3">
                                    <input class="form-control" type="date" name="birthdate" style="text-transform: uppercase;" name="birthdate" required>
                                </div>
                            </div>

                            <hr>

                            <h3 class="col-md-4">Address </h3>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Region</label>
                                <div class="col-md-6">
                                    <select id="item1" name="item1" class="form-control">
                                    <option>Select Region</option>
                                    <option value="0">CAR</option>
                                    <option value="1">Region 1</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Province</label>
                                <div class="col-md-6">
                                    <select id="item2" name="items3" class="form-control">
                                    <option value=""></option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right"> Municipality/City</label>
                                <div class="col-md-6">
                                    <select id="item3" name="items4" class="form-control">
                                <option value=""></option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Barangay</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="brgy" name="brgy" minlength="1" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Street</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="street" name="street" minlength="1" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">House number</label>
                                <div class="col-md-2">
                                    <select type="text" id="houseno" name="houseno" minlength="1">
                                  </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="number-input" class="col-md-4 col-form-label text-md-right">Contact Number</label>
                                <div class="col-md-4">
                                    <input style="width: 100%;" type="text" id="number-input" name="contno" value="+63" class="LV_valid_field" />
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row">
                                <label for="mail-input" class="col-md-4 col-form-label text-md-right">E-mail</label>
                                <div class="col-md-6">
                                    <input type="text" style="width: 100%;" id="mail-input" name="email" value="" class="LV_valid_field " />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pass-input" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" style="width: 100%;" id="pass-input" name="pass" value="" class="LV_valid_field" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confpass-input" class="col-md-4 col-form-label text-md-right">Confirm password</label>
                                <div class="col-md-6">
                                    <input type="password" style="width: 100%;" id="confpass-input" name="confpass-input" value="" class="LV_valid_field" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="busi" class="col-md-4 col-form-label text-md-right">Business Permit</label>
                                <div class="col-md-6">
                                    <input type="file" name="permit" accept="image/*">
                                    <input type="submit" value="Upload" class="btn btn-secondary">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-md-right form-check-label">
                                    <label for="agree">
                                <input type="checkbox" value="agree" value: "" class="form-check-input" />
                                    I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-md-right form-check-label">
                                    <input type="submit" id="submit-input" value="Submit" class="btn btn-primary col-md-3" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
