<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  mb-4">
	<a class="navbar-brand" href="/"><img src="../images/logo%20-%20Copy.png" height="35" class="d-inline-block align-top" alt="ABANG"/></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <div class="mr-auto">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://www.abang.com/login.php" style="color: white">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register" style="color: white">Become a Host</a>
            </li>
        </ul>
    </div>
</nav>