.LV_valid {
    color:rgba(0, 180, 0, 0.75);
}

.LV_invalid {
	color:rgba(240, 0, 0, 0.75);
}
	
.LV_validation_message{
    margin:0 0 0 2px;
}
    
.LV_valid_field {
    border: 1px solid rgba(0, 180, 0, 0.75);
}
    
.LV_invalid_field {
    border: 1px solid rgba(240, 0, 0, 0.75);
}